@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

::selection {
    background: #00ff00;
    color: black;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    height: 100vh;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.932);
    cursor: url('../imgs/icons8-3d-pointer-30.png'), auto;
}

/* Navbar */
.navbar {
    width: 100%;
    height: auto;
    padding: 15px 0;
    animation: fadeInDown 2s ease-out;
    animation-fill-mode: forwards;
    z-index: 1000;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.active{
    color: #00FF00;
}

.navbar ul {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: "Smooch Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.gray{
    color: gray;
}

.spc-btn{
    color: white;
    padding: 10px 20px;
    border: 1px solid #00ff00;
    border-radius: 15px;
}

.nav:hover {
    color: white;
    text-shadow: 0 0 20px white, 0 0 50px white, 0 0 80px white;
    transform: scale(1.1);
}

.spc-btn:hover {
    background-color: #00ff00;
    color: black;
    box-shadow: 0 0  15px #00ff00;
}

/* Button */
.register .button {
    display: inline-block;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 24px 48px;
    border-radius: 25px;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #00ff00;
    font-family: "Smooch Sans", serif;
    font-weight: 500;
    font-style: normal;
    backdrop-filter: blur(15px);
    animation: fadeInDown 4s ease-out;
    animation-fill-mode: forwards;
}

.register .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 255, 0, 0.4);
    background: linear-gradient(45deg, #00ff00, #003300);
}

.register .button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(107, 44, 245, 0.2);
}

@media all and (max-width: 1366px) {

    .navbar ul li {
        padding: 8px;
    }
    .navbar ul li a {
        font-size: 28px;
    }
    .spc-btn {
        padding: 8px 16px;
    }
    .register .button {
        padding: 16px 32px;
        font-size: 2rem;
    }
}

@media all and (max-width: 768px) {
    .navbar ul {
        justify-content: center;
    }
    .navbar ul li {
        padding: 5px;
    }
    .navbar ul li a {
        font-size: 24px;
    }
    .spc-btn{
        padding: 5px 10px;
    }
    .register .button {
        padding: 12px 24px;
        font-size: 1.5rem;
    }
}

/* BG IMG */
.bg-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 40%;
    height: auto;
    max-width: 650px;
    min-width: 500px;
    animation: fadeIn 20s ease-out;
    animation-fill-mode: forwards;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1366px) {
    .bg-img {
        overflow: hidden;
        width: 35%;
        min-width: 320px;

    }
}

@media screen and (max-width: 768px) {
    .bg-img {
        overflow: hidden;
        width: 60%;
        min-width: 320px;
        left: 55%;
        transform: translateX(-50%);
        filter: grayscale(100%);
        }
}

@media screen and (max-width: 480px) {
    .bg-img {
    overflow: hidden;
    width: 80%;
    min-width: 320px;
    left: 55%;
    transform: translateX(-50%);
    filter: grayscale(100%);
    }
}
